@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  border: thin solid red;
}
/* .drum-btn {
  padding: 25px;
  margin: 5px;
  min-width: 30px;
  max-width: 100px;
  min-height: 30px;
  max-height: 100px;
} */